TELEGRAM_TOKEN=
REGISTRATION_BOT_TELEGRAM_TOKEN=
EXCHANGE_DESK_BOT_TOKEN=
ALL_EXCHANGE_BOT_TOKEN=
LIGOVKA_BOT_TOKEN=
FINANCIAL_AGENT_BOT_TOKEN=
ACCOUNTER_BOT_TOKEN=
LEGACY_ACCOUNTER_BOT_TOKEN=
SBER_EXCHANGE_BOT_TOKEN=
CURRENCY_PARSER_BOT_TOKEN=
CRYPTO_CURRENCY_BOT_TOKEN=
