[Unit]
Description=Telegram bot accounter
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/sedan/kovyaz/auto
ExecStart=/home/sedan/kovyaz/venv/bin/python3 accounter_bot_v2.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
