[Unit]
Description=Telegram bot pictures poster
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/sedan/kovyaz/p
ExecStart=/home/sedan/kovyaz/g/venv/bin/python3 main_grakhovo_news.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
