[Unit]
Description=Telegram bot gdelt post news
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/sedan/kovyaz/gdelt
ExecStart=/home/sedan/kovyaz/gdelt/venv/bin/python3 main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
