[Unit]
Description=Clean up stale Chrome temp profile dirs

[Service]
Type=oneshot
ExecStart=/usr/bin/find /tmp -maxdepth 1 ( -name "exchange-chrome-*" -o -name "org.chromium.Chromium.scoped_dir.*" ) -mmin +60 -exec rm -rf {} +
